@tailwind base;
@tailwind components;
@tailwind utilities;

.naeem{
  color: darkorange;
  text-decoration: underline;
  font-weight: bold;
}
.graphic{
  color: aqua;
  font-weight: bold;
}
.web{
  color: black;
  font-weight: bold;
}
.img1{
  width: 500px;
  height: 400px;
  float: right;
  margin-top: 10%;
  padding-right: 10%;
}